

*   Python was developed in the late 1980's by Guido van Rossum
*   Python is a high-level, interpreted, interactive and object-oriented language
*    elegant  syntax  that  enables  writing  very  easy  to  readprograms
*  Comes with a large standard library support
*  All basic data types are available:  numbers (
oating point, complex,and unlimited-length integers), strings.Âˆ
*  Higher level containers such as lists, dictionaries and sets are part ofthe core language 
*  Python supports object-oriented programming with classes and mul-tiple inheritance.
*  Modules and packages are the mechanisms to design, build, and dis-tribute applications and libraries.
*  Data  types  are  strongly  and  dynamically  typed.  
*  Provides advanced programming features such as generators and listcomprehensions.

**To check the version of python**

In [0]:
!python --version

Python 3.6.9

**This is my First python session with TalentSprint**

In [0]:
print("My first python code")

My first python code

**Building blocks of Python Program**
* Functions
* Variables
* Expressions
* Statements
* Block
* Comments

In [0]:
5
type(5)

int

In [0]:
num = 5
num1 = 5.25
name = "Indira"
org = 'TalentSprint'
marks = [1, 5.2, "Python"]
tup = (1, 5.2, 'PY4AIML')
a = None
Expression = True
print(type(Expression))

<class 'bool'>

**Naming Rules in Python**

* Must begin with a alphabet(a - z, A - Z) or underscore().
* Other characters can be alphabets, digits or underscore().
* Python is case sensitive; uppercase and lower case alphabets are treated as distinct

In [0]:
Py4aiml = 120
print(Py4aiml)

120

In [0]:
add = num + num1
print(add)
sub = num1 - num
mul = num * num1
div = num1 / num
rem = 10 % 5
power = 2 ** 3
print(power)
print(rem)
print(rem)
print(sub)
print(mul)
print(div)

10.25
8
0
0
0.25
26.25
1.05

In [0]:
int_div = 10 // 2
print(int_div)

5

In [0]:
print(5 <= 4)

False

**if...elif..else**

In [0]:
num = 0 #to check if number is positive or not
if num > 0:
  print("positive number")
elif num == 0:
  print("number is zero")
else:
  print("negative number")

number is zero


**Find the grade of a student based on a marks.
using if...elif and else**

In [0]:
marks  =  75
if marks >= 80:
  print(" Grade  A")
elif marks >=  60:
  print( " Grade  B" )
elif marks >= 40:
  print( " Grade  C" )
else:
  print( " F a i l e d " )

 Grade  B

In [0]:
num = 11
while num > 0:
  if num % 2 == 0:
    print(num)
  num -= 1

10
8
6
4
2

Sequence Data Type - **STRING**



**Accessing Characters In String** and  **Negative indices**

We  can  access  a  character  from  the  string  by  specifying  the  index  of  thecharacter.  Index starts from '0' indicates the beginning of the string andworking their way from -1 at the end

We can access the subsets of a string using slice operator ([:])  with indexesstarting at 0 in the beginning of the string and working their way from -1at the end

python gives a convenientshorthand:  -1 is the index of the last element, -2 is the index of the last butone and so on...

In [0]:
name = 'Indira Priyadarshini Talasila'
surname = 'Talasila'
Name = name + '1'
print(Name)

Indira Priyadarshini Talasila1

In [0]:
for ch in name:
  print(ch, end=" ")

I n d i r a   P r i y a d a r s h i n i   T a l a s i l a

In [0]:
for num in range(1, 11, 2):
  print(num)

1
3
5
7
9

**User defined Functions**

In [0]:
def cube(num):
  return num ** 3

def is_even(num):
  return num % 2 == 0

print(cube(2))

8

In [0]:
num = 1
while num < 11:
  if is_even(num):
    print(cube(num))
  num += 1

8
64
216
512
1000

In [0]:
def func(x):
  return x + 1
  
f = func
print(f(2) + func(2))

6

In [0]:
def ping(i):
  if i > 0:
    return pong(i - 1)
  return "0"

def pong(i):
  if i > 0:
    return ping(i - 1)
  return "1"

print(ping(29))

1

In [0]:
name = "indira"
'a' not in name

False