## Numpy


### Exercise 01: Form an array using np.arange which contains all even numbers. 10 to 30

In [0]:
import numpy as np

print(np.arange(10,31,2))

### Exercise 02: Create an array of evenly spaced numbers upto 24 as one dimentional and reshape it to (2,4,3)

In [0]:
my_arr = np.arange(0,48,2)
my_arr.reshape(2,4,3)

### Exercise 03: Get [1, 4, 5] from [[1, 2], [3, 4], [5, 6]] using indexing

In [0]:
given_arr = [[1, 2], [3, 4], [5, 6]]
res = []
res.append( given_arr[0][0] )
res.append( given_arr[1][1] )
res.append( given_arr[2][0] )
print(res)

### Exercise 04: From the given array [[ 0, 1, 2],[ 3, 4, 5],[ 6, 7, 8],[ 9, 10, 11]] form an array containing elements greater than 5

In [0]:
arr = [[ 0, 1, 2],[ 3, 4, 5],[ 6, 7, 8],[ 9, 10, 11]] 
total_arr = sum(arr,[])
ans = []
for ele in total_arr :
  if ele > 5 :
    ans.append(ele)

print(ans)

### Exercise 05: Add given two arrays [[ 0.0, 0.0, 0.0],[10.0,10.0,10.0], [20.0,20.0,20.0],[30.0,30.0,30.0]] and [1.0,2.0,3.0]

In [0]:
arr1 = np.array([[ 0.0, 0.0, 0.0],[10.0,10.0,10.0], [20.0,20.0,20.0],[30.0,30.0,30.0]])
arr2 = np.array([1.0,2.0,3.0])
res_arr = np.add( arr1 , arr2 )
print(res_arr)

### Exercise 06: Multiplication of two arrays [1, 2, 3, 4] [10, 20, 30, 40]

In [0]:
array1 = [1, 2, 3, 4] 
array2 = [10, 20, 30, 40]
np.multiply(array1 , array2)

### Exercise 07: Matrix multiplication for 2-D array

In [0]:
a = np.array([[1, 0],
             [0, 1]])

b = np.array([[4, 1],
              [2, 2]])

np.multiply(a ,b)

### Exercise 08: Transpose the given array [[0, 1, 2, 3] [4, 5, 6, 7] [8, 9, 10, 11]]

In [0]:
given_array = np.array([[0, 1, 2, 3] ,[4, 5, 6, 7] ,[8, 9, 10, 11]])
np.transpose(given_array)

### Exercise 09: Concatenate [[1, 2], [3, 4]] and [[5, 6], [7, 8]] using numpy in axis 1

In [0]:
# axis  = 1 for column wise concatenation.
a1 = np.array( [[1, 2], [3, 4]] )
a2 = np.array( [[5, 6], [7, 8]] )
np.concatenate((a1, a2),axis = 1)

### Exercise 10: Given a Multidimensional array find the following,


1.   get second and third coloum from the given Multidimensional array
2.   get second and third row from the given Multidimensional array
3.   and reverse the given Multidimensional array

In [0]:
import numpy as np
array2D = np.array([['a','b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']])

print(array2D[0:3 , 1:2])
print(array2D[0:3 , 2:3])

print(array2D[1])
print(array2D[2])

reversed_array = np.flip(array2D)
print(reversed_array)

### Exercise 11: Given a Multidimensional array find the following,


1.   What is the average value of the second column 
2.   Calculate the Mean of the given Multidimensional array

In [0]:
import numpy as np
array5D = np.array([[174677, 343356, 301717, 224120, 401101],
       [140473, 254634, 112262,  25063, 108262],
       [375059, 406983, 208947, 115641, 296685],
       [444899, 129585, 171318, 313094, 425041],
       [476442,  35455, 191553, 384154,  29917]])

result = np.average(array5D,1)
result[1]

### Exercise 12: For the given array, get the slice of the first row and display them.

In [0]:
array = np.array([[[22, 23, 24], [25, 26, 27], [28, 29, 30]],
               [[31, 32, 33], [34, 35, 36], [37, 38, 39]],
               [[40, 41, 42], [43, 44, 45], [46, 47, 48]]])

print(array)

sliced_array = array[ 0:3 , 0:1 , 0:3]
print()
print("sliced array is: \n\n", sliced_array)

### Exercise 13: Create a 10x10 array with random values and find minimum number and maximum number along axis 1

In [0]:
#axis 1 respresents axis that runs horizontally -------------->

matrix = np.random.randint(0,100,size=(10,10))
print(matrix)

print()
print("minimum in each row :" ,np.amin(matrix,axis = 1))
print("maximum in each row :" ,np.amax(matrix,axis = 1))

### Exercise 14: Create an array of the first 20 odd integers

In [0]:
print(np.array(np.arange(1,40,2)))

### Exercise 15: Create a 5x5 matrix with values 1,2,3,4 just below the diagonal

In [0]:

np.diag([1,2,3,4],k=-1)

### Exercise 16: 2x+3y=13 3x+y=9 find the value of x and y.

In [0]:
lhs = np.array([[2,3],[3,1]])
rhs = np.array([13,9])
ans = np.linalg.solve(lhs,rhs)
print(ans)

### Exercise 17: Compute $e^x$, element-wise for a sample array

In [0]:
x = np.array([1,2,3,4,5,6])

answer = np.exp(x)
print("e^x values for given array is :",answer)