## Pandas

### Exercise 1: Read the file (samplemoviesdata.csv) into pandas dataframe

In [9]:
import pandas as pd 

data = pd.read_csv("Pandas_samplemoviedata.csv") 
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### Exercise 2: print the full summary of the dataframe

In [11]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 866.8+ KB
None

In [12]:
print(data.describe())

       num_critic_for_reviews     duration  director_facebook_likes  \
count             4993.000000  5028.000000              4939.000000
mean               140.194272   107.201074               686.509212
std                121.601675    25.197441              2813.328607
min                  1.000000     7.000000                 0.000000
25%                 50.000000    93.000000                 7.000000
50%                110.000000   103.000000                49.000000
75%                195.000000   118.000000               194.500000
max                813.000000   511.000000             23000.000000

       actor_3_facebook_likes  actor_1_facebook_likes         gross  \
count             5020.000000             5036.000000  4.159000e+03
mean               645.009761             6560.047061  4.846841e+07
std               1665.041728            15020.759120  6.845299e+07
min                  0.000000                0.000000  1.620000e+02
25%                133.000000              614.000000  5.340988e+06
50%                371.500000              988.000000  2.551750e+07
75%                636.000000            11000.000000  6.230944e+07
max              23000.000000           640000.000000  7.605058e+08

       num_voted_users  cast_total_facebook_likes  facenumber_in_poster  \
count     5.043000e+03                5043.000000           5030.000000
mean      8.366816e+04                9699.063851              1.371173
std       1.384853e+05               18163.799124              2.013576
min       5.000000e+00                   0.000000              0.000000
25%       8.593500e+03                1411.000000              0.000000
50%       3.435900e+04                3090.000000              1.000000
75%       9.630900e+04               13756.500000              2.000000
max       1.689764e+06              656730.000000             43.000000

       num_user_for_reviews        budget   title_year  \
count           5022.000000  4.551000e+03  4935.000000
mean             272.770808  3.975262e+07  2002.470517
std              377.982886  2.061149e+08    12.474599
min                1.000000  2.180000e+02  1916.000000
25%               65.000000  6.000000e+06  1999.000000
50%              156.000000  2.000000e+07  2005.000000
75%              326.000000  4.500000e+07  2011.000000
max             5060.000000  1.221550e+10  2016.000000

       actor_2_facebook_likes   imdb_score  aspect_ratio  movie_facebook_likes
count             5030.000000  5043.000000   4714.000000           5043.000000
mean              1651.754473     6.442138      2.220403           7525.964505
std               4042.438863     1.125116      1.385113          19320.445110
min                  0.000000     1.600000      1.180000              0.000000
25%                281.000000     5.800000      1.850000              0.000000
50%                595.000000     6.600000      2.350000            166.000000
75%                918.000000     7.200000      2.350000           3000.000000
max             137000.000000     9.500000     16.000000         349000.000000

### Exercise 3: Remove information of the movie which doesn’t have information on when the movie came out

In [44]:
# to remove rows if all elemnts are none in a row ---> data.dropna(how='all')

#changinging intial dataframe itself using inplace

data.dropna(how='any',subset=['title_year'],inplace=True)
print(data['title_year'])

# for copying modified data set into anither dataframe variable
# modified = data.dropna(how='any', subset=['title_year'])
# print(modified['title_year'])
# data.head()

0       2009.0
1       2007.0
2       2015.0
3       2012.0
5       2012.0
         ...
5037    2011.0
5038    2013.0
5040    2013.0
5041    2012.0
5042    2004.0
Name: title_year, Length: 4935, dtype: float64

### Exercise 4: Change all movie titles to uppercase

In [45]:
data['movie_title'] = data['movie_title'].str.upper()
# to print single colums ----> 
print(data['movie_title'])
# to print multiple columns ---->  print(data[['director_name','movie_title']])

0                                         AVATAR
1       PIRATES OF THE CARIBBEAN: AT WORLD'S END
2                                        SPECTRE
3                          THE DARK KNIGHT RISES
5                                    JOHN CARTER
                          ...
5037                                   NEWLYWEDS
5038                     SIGNED SEALED DELIVERED
5040                        A PLAGUE SO PLEASANT
5041                            SHANGHAI CALLING
5042                           MY DATE WITH DREW
Name: movie_title, Length: 4935, dtype: object

### Exercise 5: Remove the movie titles trailing whitespaces

In [53]:
# for leading and trailing whitespaces --> rstrip for trailing and lstrip-->  for leading whitespaces
data['movie_title'].str.strip()

data1 = data.iloc[ 25:50 ,[11]] 
data1

                             movie_title
26                              TITANIC
27           CAPTAIN AMERICA: CIVIL WAR
28                           BATTLESHIP
29                       JURASSIC WORLD
30                              SKYFALL
31                         SPIDER-MAN 2
32                           IRON MAN 3
33                  ALICE IN WONDERLAND
34                X-MEN: THE LAST STAND
35                  MONSTERS UNIVERSITY
36  TRANSFORMERS: REVENGE OF THE FALLEN
37      TRANSFORMERS: AGE OF EXTINCTION
38            OZ THE GREAT AND POWERFUL
39             THE AMAZING SPIDER-MAN 2
40                         TRON: LEGACY
41                               CARS 2
42                        GREEN LANTERN
43                          TOY STORY 3
44                 TERMINATOR SALVATION
45                            FURIOUS 7
46                          WORLD WAR Z
47           X-MEN: DAYS OF FUTURE PAST
48              STAR TREK INTO DARKNESS
49                JACK THE GIANT SLAYER
50                     THE GREAT GATSBY

## Numpy


### Exercise 01: Form an array using np.arange which contains all even numbers. 10 to 30

In [0]:
#your code here

### Exercise 02: Create an array of evenly spaced numbers upto 24 as one dimentional and reshape it to (2,4,3)