## Pandas

### Exercise 1: Read the file (samplemoviesdata.csv) into pandas dataframe

In [0]:
### your code here

### Exercise 2: print the full summary of the dataframe

In [0]:
### your code here

### Exercise 3: Remove information of the movie which doesnâ€™t have information on when the movie came out

In [0]:
### your code here

### Exercise 4: Change all movie titles to uppercase

In [0]:
### your code here

### Exercise 5: Remove the movie titles trailing whitespaces

In [0]:
### your code here

## Numpy


### Exercise 01: Form an array using np.arange which contains all even numbers. 10 to 30

In [0]:
#your code here

### Exercise 02: Create an array of evenly spaced numbers upto 24 as one dimentional and reshape it to (2,4,3)